body {
    background-color: tomato;
    display: flex;
    align-items: center;
    flex-flow: column;
}

h1 {
    text-align: center;
    color: aqua;
}

#texto1 {
    text-align: center;
    color: chartreuse;
}

#botao1 {
    background-color: darkorange;
    border: deeppink;
    color: white;
    padding: 15px 32px;
    width: 250px;
    text-align: center;
    font-size: 16px;
}